.navbar {
    width: 100vw;
    height: 20vh;
    padding: 0 20%;
    overflow-x: hidden;
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}